// Default MUI breakpoints
// https://mui.com/material-ui/customization/breakpoints/#default-breakpoints
$mui-bp-sm: 600px;
$mui-bp-md: 900px;
$mui-bp-lg: 1200px;
$mui-bp-xl: 1536px;

#reactRoot {
    height: 100%;
}

// Hide some items from the user "settings" page that are in the drawer
#myPreferencesMenuPage {
    .lnkQuickConnectPreferences,
    .adminSection,
    .userSection {
        display: none !important;
    }
}

// Home page only
#indexPage.homePage.libraryPage.withTabs {
    padding-top: 0 !important;
}

#indexPage.homePage.libraryPage.withTabs .pageTabContent:not(#homeTab) {
    padding-top: 8rem !important;
}

// Other library pages (excluding item details)
.libraryPage:not(.itemDetailPage):not(.homePage) {
    padding-top: 8rem !important;
}

.layout-mobile {
    .itemBackdrop {
        // Fix backdrop position on mobile item details page
        margin-top: 0 !important;

        // Add a subtle gradient over the backdrop to ensure the app bar buttons are visible
        &::before {
            display: block;
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(32, 32, 32, 0.6) 0%, rgba(32, 32, 32, 0.2) 4rem, rgba(0, 0, 0, 0) 50%);
        }
    }
}
