/* Import the base theme */
@use '../_base/theme';

/* Card background color variants */
.defaultCardBackground1 {
    background-color: #00455c;
}

.defaultCardBackground2 {
    background-color: #44bae1;
}

.defaultCardBackground3 {
    background-color: #00a4db;
}

.defaultCardBackground4 {
    background-color: #1c4c5c;
}

.defaultCardBackground5 {
    background-color: #007ea8;
}

/* Detail ribbon on item details pages */
.detailRibbon {
  

    .layout-tv & {
        background: none;
    }
}
